/* CSS styling */

body {
    background-color: black;
    margin: 0 auto;
    text-align: center;
}

h1 {
    color: white;
    font-size: 50px;
    font-weight: normal;    
}

a {
    color: aquamarine;
    font-size: 16px;
}

#header-and-link {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

