/* CSS styling */

body {
    background-color: black;
    margin: 0 auto;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* TOP HEADER AND LINK SECTION */

h1,
h2 {
    color: white;
}

h1 {
    font-size: 50px;
    font-weight: normal;
}

#top-link{
    margin: 200px;
}

#header-and-link{
    margin: 20px auto;
}

/* MP4 SECTION */

#mp4 {
    margin: 20px auto;
}

/* MID SECTION AND CAMPING IMAGE*/

h2 {
    font-size: 42px;
    font-weight: 300;
}

p {
    color: gray;
    font-size: 21px;
}

#mid-text {
    margin: 20px auto;
}

/* MOBILE INFO SECTION */

#mobile-section {
    margin: 20px auto;
}

.hyperlink {
    color: aquamarine;
    font-size: 16px;
}

/* COPYRIGHT SECTION */

#copyright-text {
    margin-right: 8px;
    margin-bottom: 21px;
    text-align: right;
    color: gray
}